.VendingMachine {
    position: absolute;

    display: flex;
    flex-direction: row;
    top: 50vh;
    
    height: 300px;
    width: 100%;

    transform: translateY(-50%);

    background-color: rgba(0, 0, 0, 0.8);
}

.Vertical-line {
    height: 100%;
    width: 3px;

    background-color: white;
}