.App {
  background-color: antiquewhite;
}

.Soda,
.Sardines,
.Chips {
  text-align: center;
  background-color: bisque;

  height: 100vh;
}

.Soda-img,
.Sardines-img,
.Chips-img {
  display: block;
  width: 200px;
  height: 200px;

  margin: 0 auto;
}

.Back-btn {
  width: 100px;
  height: 150px;
}

.Vendingmachine {
  width: 100vw;
  height: 100vh;
  background-image: url('https://cdn.pixabay.com/photo/2021/10/09/15/19/vending-machine-6694430_1280.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.Vending-items {
  position: absolute;
  top: 49vh;
  left: 53vw;
  transform: translateX(-50%);

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  width: 100px;
  text-align: center;
}

.Vending-items a {
  font-size: 20px;
  border-radius: 3px;
  padding: 10px;

  background-color: #c4adff;
}

.Vending-items a.active {
  color: white;
}

.Vending-items a:hover {
  background-color: rgb(99, 99, 99);
}


a {
  text-decoration: none;
}